body {
    background-color: black;
    overflow: hidden;
    align-items: center;
}


iframe {
        width: 1930;
        height: 1150;
        display: flex;
        position: absolute;
        clip: rect(
            0px,
            1920px,
            1085px,
            0px
        );
}

.botao-altenburg {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5%;
    width: 140px;
    height: 40px;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.botao-haus {
    position: fixed;
    top: 70px;
    left: 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5%;
    width: 140px;
    height: 40px;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.botao-marketplace {
    position: fixed;
    top: 120px;
    left: 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5%;
    width: 140px;
    height: 40px;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.botao-flutuante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    cursor: pointer;
}
